body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: linear-gradient(90deg, rgba(162,153,147,1) 9%, rgba(217,212,190,1) 48%, rgba(162,153,147,1) 92%);
}

.ScoreContainer {
  background-color: lightskyblue;
  border-radius: 20px;
  border: 1px double;
  height: 180px;
  width: fit-content;
}

.ScoreTitle {
  list-style: none;
  padding: 16px;
  max-width: 360px;
  font-family: fantasy;
}
.Score {
  padding: 15px;
  list-style-type: square;
  font-family: monospace;
}

.StartArea { 
  text-align: center;
}
.GameNote {
  margin: 15px;
  font-style: italic;
  font-weight: 200;
  font-family: monospace;
  font-weight: bold;
}






.CategorieChoose {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}
.CategorieChoose > div {
  margin: 2%;
}

.box{
  background-color: beige;
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 5px 2px 7px 0px;
  flex: 1 0 33%; 
}
.box:hover{
  transform: scale(1.1); 
}
.InnerText {
  position: relative;
  color:whitesmoke;
  text-shadow: 1px 1px black;
  text-align: center;
}






.QuizContainer {
  display: grid;
  grid-template-columns: 120px 5vw 120px;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 4px 8px 1px;
  
}
.GameFrage {
  background-color: #9c5a54;
  grid-column-start: 1;
  grid-column-end: 4;
  border: 2px solid;
  border-radius: 5px;
  
}
.AntwortLeft {
  background-color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 18px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  border-radius: 5px;
}
.AntwortRight {
  background-color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 18px;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 4;
  border-radius: 5px;
}









.Footer {
  background-color: grey; 
  
  
}