body {
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: linear-gradient(90deg, rgba(162,153,147,1) 9%, rgba(217,212,190,1) 48%, rgba(162,153,147,1) 92%);
}

.Header {
  background-color: crimson;
  border: 2px solid;
  height: 20px;
  display: flex;
  justify-content: center;
}


.ScoreContainer {
  background-color: lightskyblue;
  border-radius: 20px;
  border: 1px double;
  height: 180px;
  width: fit-content;
}

.ScoreTitle {
  list-style: none;
  padding: 16px;
  max-width: 360px;
  font-family: fantasy;
}
.Score {
  padding: 15px;
  list-style-type: square;
  font-family: monospace;
}

.StartArea { 
  text-align: center;
}
.GameNote {
  margin: 15px;
  font-style: italic;
  font-weight: 200;
  font-family: monospace;
  font-weight: bold;
 
}






.CategorieChoose {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}
.CategorieChoose > div {
  margin: 2%;
}

.box{
  background-color: beige;
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 5px 2px 7px 0px;
  flex: 1 0 33%; 
}
.box:hover{
  transform: scale(1.1); 
}
.InnerText {
  position: relative;
  color:whitesmoke;
  text-shadow: 1px 1px black;
  text-align: center;
  
}

.Footer {
  background-color: grey; 
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}